Host *
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    HashKnownHosts yes
    IdentityFile ~/.ssh/id_rsa

Host ansible1.test
    HostName localhost
    User root
    Port 2222

Host ansible2.test
    HostName localhost
    User root
    Port 2223

Host ansible3.test
    HostName localhost
    User root
    Port 2224

Host ansible4.test
    HostName localhost
    User root
    Port 2225

Host ansible5.test
    HostName localhost
    User root
    Port 2226

Host ansible6.test
    HostName localhost
    User root
    Port 2227

Host ansible7.test
    HostName localhost
    User root
    Port 2228

Host ansible8.test
    HostName localhost
    User root
    Port 2229

Host ansible9.test
    HostName localhost
    User root
    Port 2230

Host ansible10.test
    HostName localhost
    User root
    Port 2231

Host ansible11.test
    HostName localhost
    User root
    Port 2232

Host ansible12.test
    HostName localhost
    User root
    Port 2233

Host ansible13.test
    HostName localhost
    User root
    Port 2234

Host ansible14.test
    HostName localhost
    User root
    Port 2235

Host ansible15.test
    HostName localhost
    User root
    Port 2236

Host ansible16.test
    HostName localhost
    User root
    Port 2237

Host ansible17.test
    HostName localhost
    User root
    Port 2238

Host ansible18.test
    HostName localhost
    User root
    Port 2239

Host ansible19.test
    HostName localhost
    User root
    Port 2240

Host ansible20.test
    HostName localhost
    User root
    Port 2241
