Host *
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    HashKnownHosts yes
    IdentityFile ~/.ssh/id_rsa

Host ansible1.test
    HostName localhost
    User root
    Port 2222

Host ansible2.test
    HostName localhost
    User root
    Port 2223

Host ansible3.test
    HostName localhost
    User root
    Port 2224

Host ansible4.test
    HostName localhost
    User root
    Port 2225

Host ansible5.test
    HostName localhost
    User root
    Port 2226
